data/demo_data/aoi_pixel_level_
  annual_agbd_mt.csv
data/demo_data/aoi_pixel_level_annual_agbd_mt.csv
data/demo_data/matchedAOI_pixel_level_annual_agbd_mt.csv
data/demo_data/tiletttttt_l24a_all_topo_ls_lhs_nbr_dur8.csv
